<html xmlns:th="http://www.thymeleaf.org" >
        <body>
        <form action="#" th:action="@{/product/updatebyid/__${id}__}" th:object="${product}" method="post">
        
        <input type="text" th:field="*{title}">
        <input type="text" th:field="*{description}">
        <input type="text" th:field="*{price}">
        <input type="text" th:field="*{quantity}">
        <button type="submit" > Atjaunināt produktu </button>
        
        </form>
                
        </body>
</html>
